# S04

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/acedesci/scanalytics/master/data/salesCerealsOriginal.csv'
df = pd.read_csv(url , parse_dates=['WEEK_END_DATE'])
df.head()

,WEEK_END_DATE,STORE_NUM,UPC,UNITS,VISITS,HHS,SPEND,PRICE,BASE_PRICE,FEATURE,DISPLAY,TPR_ONLY,DESCRIPTION,CATEGORY,SUB_CATEGORY
0,2009-01-14,367,1111085319,14,13,13,26.32,1.88,1.88,0,0,0,PL HONEY NUT TOASTD OATS,COLD CEREAL,ALL FAMILY CEREAL
1,2009-01-14,367,1111085350,35,27,25,69.30,1.98,1.98,0,0,0,PL BT SZ FRSTD SHRD WHT,COLD CEREAL,ALL FAMILY CEREAL
2,2009-01-14,367,1600027527,12,10,10,38.28,3.19,3.19,0,0,0,GM HONEY NUT CHEERIOS,COLD CEREAL,ALL FAMILY CEREAL
3,2009-01-14,367,1600027528,31,26,19,142.29,4.59,4.59,0,0,0,GM CHEERIOS,COLD CEREAL,ALL FAMILY CEREAL
4,2009-01-14,367,1600027564,56,48,42,152.32,2.72,3.07,1,0,0,GM CHEERIOS,COLD CEREAL,ALL FAMILY CEREAL

## Groupby (split-apply-combine)

In [9]:
# dans le livre:
df.groupby('UPC').PRICE.mean()

UPC
1111085319    1.788910
1111085350    2.183333
1600027527    2.893077
1600027528    4.498590
1600027564    2.893355
3000006340    2.878195
3800031829    3.256774
Name: PRICE, dtype: float64

In [11]:
# split
by_upc = df.groupby('UPC')
print(by_upc)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001DFE1CC5410>

In [7]:
for upc, frame in by_upc:
    print(upc)
    print(frame.head())

1111085319
   WEEK_END_DATE  STORE_NUM         UPC  UNITS  VISITS  HHS  SPEND  PRICE  \
0     2009-01-14        367  1111085319     14      13   13  26.32   1.88
7     2009-01-21        367  1111085319     12      12   12  22.68   1.89
14    2009-01-28        367  1111085319     18      17   16  33.66   1.87
21    2009-02-04        367  1111085319     13      13   13  24.44   1.88
28    2009-02-11        367  1111085319     16      16   16  29.92   1.87

    BASE_PRICE  FEATURE  DISPLAY  TPR_ONLY               DESCRIPTION  \
0         1.88        0        0         0  PL HONEY NUT TOASTD OATS
7         1.89        0        0         0  PL HONEY NUT TOASTD OATS
14        1.87        0        0         0  PL HONEY NUT TOASTD OATS
21        1.88        0        0         0  PL HONEY NUT TOASTD OATS
28        1.87        0        0         0  PL HONEY NUT TOASTD OATS

       CATEGORY       SUB_CATEGORY
0   COLD CEREAL  ALL FAMILY CEREAL
7   COLD CEREAL  ALL FAMILY CEREAL
14  COLD CEREAL  ALL FAMILY CEREAL
21  COLD CEREAL  ALL FAMILY CEREAL
28  COLD CEREAL  ALL FAMILY CEREAL
1111085350
   WEEK_END_DATE  STORE_NUM         UPC  UNITS  VISITS  HHS  SPEND  PRICE  \
1     2009-01-14        367  1111085350     35      27   25  69.30   1.98
8     2009-01-21        367  1111085350     33      25   25  66.00   2.00
15    2009-01-28        367  1111085350     30      21   20  60.30   2.01
22    2009-02-04        367  1111085350     38      31   30  75.62   1.99
29    2009-02-11        367  1111085350     38      27   26  74.86   1.97

    BASE_PRICE  FEATURE  DISPLAY  TPR_ONLY              DESCRIPTION  \
1         1.98        0        0         0  PL BT SZ FRSTD SHRD WHT
8         2.00        0        0         0  PL BT SZ FRSTD SHRD WHT
15        2.01        0        0         0  PL BT SZ FRSTD SHRD WHT
22        1.99        0        0         0  PL BT SZ FRSTD SHRD WHT
29        1.97        0        0         0  PL BT SZ FRSTD SHRD WHT

       CATEGORY       SUB_CATEGORY
1   COLD CEREAL  ALL FAMILY CEREAL
8   COLD CEREAL  ALL FAMILY CEREAL
15  COLD CEREAL  ALL FAMILY CEREAL
22  COLD CEREAL  ALL FAMILY CEREAL
29  COLD CEREAL  ALL FAMILY CEREAL
1600027527
   WEEK_END_DATE  STORE_NUM         UPC  UNITS  VISITS  HHS   SPEND  PRICE  \
2     2009-01-14        367  1600027527     12      10   10   38.28   3.19
9     2009-01-21        367  1600027527      7       7    7   22.33   3.19
16    2009-01-28        367  1600027527      9       9    9   28.71   3.19
23    2009-02-04        367  1600027527     18      17   16   57.42   3.19
30    2009-02-11        367  1600027527    243     187  179  403.38   1.66

    BASE_PRICE  FEATURE  DISPLAY  TPR_ONLY            DESCRIPTION  \
2         3.19        0        0         0  GM HONEY NUT CHEERIOS
9         3.19        0        0         0  GM HONEY NUT CHEERIOS
16        3.19        0        0         0  GM HONEY NUT CHEERIOS
23        3.19        0        0         0  GM HONEY NUT CHEERIOS
30        3.19        1        1         0  GM HONEY NUT CHEERIOS

       CATEGORY       SUB_CATEGORY
2   COLD CEREAL  ALL FAMILY CEREAL
9   COLD CEREAL  ALL FAMILY CEREAL
16  COLD CEREAL  ALL FAMILY CEREAL
23  COLD CEREAL  ALL FAMILY CEREAL
30  COLD CEREAL  ALL FAMILY CEREAL
1600027528
   WEEK_END_DATE  STORE_NUM         UPC  UNITS  VISITS  HHS   SPEND  PRICE  \
3     2009-01-14        367  1600027528     31      26   19  142.29   4.59
10    2009-01-21        367  1600027528     24      19   11  110.16   4.59
17    2009-01-28        367  1600027528     27      21    7  123.93   4.59
24    2009-02-04        367  1600027528     28      24   13  128.52   4.59
31    2009-02-11        367  1600027528    101      84   69  288.86   2.86

    BASE_PRICE  FEATURE  DISPLAY  TPR_ONLY  DESCRIPTION     CATEGORY  \
3         4.59        0        0         0  GM CHEERIOS  COLD CEREAL
10        4.59        0        0         0  GM CHEERIOS  COLD CEREAL
17        4.59        0        0         0  GM CHEERIOS  COLD CEREAL
24        4.59        0        0         0  GM CHEERIOS  COLD CEREAL
31        4.59        0        1         0  GM CHEERIOS  COLD CEREAL

         SUB_CATEGORY
3   ALL FAMILY CEREAL
10  ALL FAMILY CEREAL
17  ALL FAMILY CEREAL
24  ALL FAMILY CEREAL
31  ALL FAMILY CEREAL
1600027564
   WEEK_END_DATE  STORE_NUM         UPC  UNITS  VISITS  HHS   SPEND  PRICE  \
4     2009-01-14        367  1600027564     56      48   42  152.32   2.72
11    2009-01-21        367  1600027564     36      23   23   96.48   2.68
18    2009-01-28        367  1600027564     20      20   15   63.80   3.19
25    2009-02-04        367  1600027564     16      14   10   51.04   3.19
32    2009-02-11        367  1600027564     13      12   12   22.36   1.72

    BASE_PRICE  FEATURE  DISPLAY  TPR_ONLY  DESCRIPTION     CATEGORY  \
4         3.07        1        0         0  GM CHEERIOS  COLD CEREAL
11        3.07        0        0         1  GM CHEERIOS  COLD CEREAL
18        3.19        0        0         0  GM CHEERIOS  COLD CEREAL
25        3.19        0        0         0  GM CHEERIOS  COLD CEREAL
32        3.19        0        0         1  GM CHEERIOS  COLD CEREAL

         SUB_CATEGORY
4   ALL FAMILY CEREAL
11  ALL FAMILY CEREAL
18  ALL FAMILY CEREAL
25  ALL FAMILY CEREAL
32  ALL FAMILY CEREAL
3000006340
   WEEK_END_DATE  STORE_NUM         UPC  UNITS  VISITS  HHS  SPEND  PRICE  \
5     2009-01-14        367  3000006340     19      17   17  38.76   2.04
12    2009-01-21        367  3000006340      9       8    7  23.22   2.58
19    2009-01-28        367  3000006340      3       3    2   8.22   2.74
26    2009-02-04        367  3000006340      5       5    2  13.70   2.74
33    2009-02-11        367  3000006340      8       8    6  21.92   2.74

    BASE_PRICE  FEATURE  DISPLAY  TPR_ONLY         DESCRIPTION     CATEGORY  \
5         2.74        0        0         1  QKER LIFE ORIGINAL  COLD CEREAL
12        2.58        0        0         0  QKER LIFE ORIGINAL  COLD CEREAL
19        2.74        0        0         0  QKER LIFE ORIGINAL  COLD CEREAL
26        2.74        0        0         0  QKER LIFE ORIGINAL  COLD CEREAL
33        2.74        0        0         0  QKER LIFE ORIGINAL  COLD CEREAL

         SUB_CATEGORY
5   ALL FAMILY CEREAL
12  ALL FAMILY CEREAL
19  ALL FAMILY CEREAL
26  ALL FAMILY CEREAL
33  ALL FAMILY CEREAL
3800031829
   WEEK_END_DATE  STORE_NUM         UPC  UNITS  VISITS  HHS  SPEND  PRICE  \
6     2009-01-14        367  3800031829     14      11    3  43.96   3.14
13    2009-01-21        367  3800031829     17      13    6  53.38   3.14
20    2009-01-28        367  3800031829     23      19    8  72.22   3.14
27    2009-02-04        367  3800031829     25      23   10  78.50   3.14
34    2009-02-11        367  3800031829     23      19   11  72.22   3.14

    BASE_PRICE  FEATURE  DISPLAY  TPR_ONLY                DESCRIPTION  \
6         3.14        0        0         0  KELL BITE SIZE MINI WHEAT
13        3.14        0        0         0  KELL BITE SIZE MINI WHEAT
20        3.14        0        0         0  KELL BITE SIZE MINI WHEAT
27        3.14        0        0         0  KELL BITE SIZE MINI WHEAT
34        3.14        0        0         0  KELL BITE SIZE MINI WHEAT

       CATEGORY       SUB_CATEGORY
6   COLD CEREAL  ALL FAMILY CEREAL
13  COLD CEREAL  ALL FAMILY CEREAL
20  COLD CEREAL  ALL FAMILY CEREAL
27  COLD CEREAL  ALL FAMILY CEREAL
34  COLD CEREAL  ALL FAMILY CEREAL

In [10]:
df.loc[df.UPC == 1111085319].head()

,WEEK_END_DATE,STORE_NUM,UPC,UNITS,VISITS,HHS,SPEND,PRICE,BASE_PRICE,FEATURE,DISPLAY,TPR_ONLY,DESCRIPTION,CATEGORY,SUB_CATEGORY
0,2009-01-14,367,1111085319,14,13,13,26.32,1.88,1.88,0,0,0,PL HONEY NUT TOASTD OATS,COLD CEREAL,ALL FAMILY CEREAL
7,2009-01-21,367,1111085319,12,12,12,22.68,1.89,1.89,0,0,0,PL HONEY NUT TOASTD OATS,COLD CEREAL,ALL FAMILY CEREAL
14,2009-01-28,367,1111085319,18,17,16,33.66,1.87,1.87,0,0,0,PL HONEY NUT TOASTD OATS,COLD CEREAL,ALL FAMILY CEREAL
21,2009-02-04,367,1111085319,13,13,13,24.44,1.88,1.88,0,0,0,PL HONEY NUT TOASTD OATS,COLD CEREAL,ALL FAMILY CEREAL
28,2009-02-11,367,1111085319,16,16,16,29.92,1.87,1.87,0,0,0,PL HONEY NUT TOASTD OATS,COLD CEREAL,ALL FAMILY CEREAL

In [16]:
# split + apply
# combine consists in returning everything in one `DataFrame`
for upc, frame in by_upc:
    print(upc, frame.PRICE.mean())

1111085319 1.7889102564102564
1111085350 2.1833333333333336
1600027527 2.8930769230769235
1600027528 4.4985897435897435
1600027564 2.8933548387096777
3000006340 2.8781954887218046
3800031829 3.256774193548387